.heroImage{
    width: 35vw;
}

.myconatiner{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
}


@media (width<800px){
    .heroImage{
        width: 80vw !important;
    }

}
.btn-info{
    background-color: #6e5494;
    border: 0px solid #6e5494 !important;
}
.btn-info:hover{
    background-color: rgb(243, 101, 49) !important;
}
.card{
    min-height: 280px !important;
}
a:focus-visible{
    border: 0px solid white !important;
    box-shadow: white 0px 0px 0px 0px !important;
    outline: none !important;
}

.clubImg{
    width: 9vw;
}

@media (width<600px){
    .clubImg{
        width: 30vw;
    }
}
@media (width<800px) and (width>600px) {
    .clubImg{
        width: 15vw;
    }
}

.card-title {
    min-height:105px !important;
}