@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  /* background-color: whitesmoke; */
  font-family: Montserrat;
  margin: 0px;
  padding: 0px;
}
body {
  overflow: overlay;
}
.con {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  /* background-color: #2196F3; */
  margin: auto;
  /* margin-left: 5vw;
  margin-right: 5vw; */
  border-radius: 20px;
}

.con > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 1vh;
  margin-left: 1.2vh;
  margin-right: 1.2vh;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 1vh 0;
  margin: 1vh; */
  /* font-size: 30px; */
}

#con1 {
  grid-row: 1/2;
}

#con2 {
  grid-row: 1/2;
  grid-column: 2/4;
}
#con3 {
  grid-row: 1/3;
  grid-column: 4/5;
}
#con4 {
  grid-row: 2/3;
  grid-column: 1/3;
}
#con5 {
  grid-column: 3/4;
  grid-row: 2/3;
}



.content2 {
  /* width: auto; */
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
  /* margin-top: 4vh; */
  margin-bottom: 4vh;
  align-items: center;
}
.content2 h3 {
  margin: 1vh;
  margin-left: 0vh;
  font-weight: lighter;
  width: 70%;
  font-size: large;
}

.content2 h1 {
  margin: 1vh;
  /* font-weight:900; */
  margin-left: 0px;
  border-bottom: 2px solid #6e5494;
  width: 60vw;
}

.img img {
  /* float: right; */
  margin-top: 0vh;
  /* padding-bottom: 5vh; */
  width: 15vw;
  border-radius: 10px;
}

.para {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.image:hover {
  transform: scale(1.02);
  transition: all 0.3s;
  box-shadow: 0px 0px 7px 2px rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track{
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #6e5494;
  border-radius: 10px;
}

/* Inspired by: https://css-tricks.com/lets-create-an-image-pop-out-effect-with-svg-clip-path/
Note: No techniques from the above article were used. I just thought of a different way to achieve the same idea.

background pattern modified by one presented at: https://projects.verou.me/css3patterns/
*/
div.popout {
  position: relative;
  float: left;
  width: 20vw;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.popout:hover .circle,
div.popout:hover .person {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.popout:hover .person > img {
  -webkit-transform: translate(-50%, -0.55vh);
  transform: translate(-50%, -0.55vh);
}

div.popout:hover .person > .desc {
  bottom: -8vw;
  background-color: rgba(0, 0, 0, 0.375);
}

div.popout .circle,
div.popout .person,
div.popout .person > img {
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

div.popout .person > .desc {
  -webkit-transition: bottom ease 0.2s, background-color ease-in-out 0.5s;
  transition: bottom ease 0.2s, background-color ease-in-out 0.5s;
}

div.popout .circle,
div.popout .person {
  position: absolute;
  overflow: hidden;
  bottom: 15%;
  width: 12vw;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.popout .circle {
  height: 12vw;
  border-radius: 6vw;
  -webkit-box-shadow: 0px 0px 0px 8px #6dabe4,
    0px 10px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 8px #6dabe4,
    0px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

div.popout .person {
  border-bottom-left-radius: 6vw 6vw;
  border-bottom-right-radius: 6vw 6vw;
  height: 16vw;
}

div.popout .person > img {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  width: 18vw;
  height: auto;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0.75vw);
  transform: translate(-50%, 0.75vw);
}

div.popout .person .desc {
  position: absolute;
  height: 3vw;
  bottom: -14vw;
  width: 100%;
  height: 12vw;
  text-align: center;
  padding: 1em;
  background-color: transparent;
  background-color: #6dabe4;
  font-size: 0.75vw;
  font-family: arial, sans-serif;
  color: ivory;
}

div.popout .person .desc:first-line {
  font-weight: bold;
  text-transform: uppercase;
}

.aboutt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutme {
  position: relative;
  width: 33%;
}

@media only screen and (max-width:600px) {
  .top-sec{
    height: 112vh;
  }
  .content2{
    flex-direction: column-reverse;
  }
  .papa-con{
    height: auto !important;
    overflow: visible;
  }
  .con{
    height: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33% ;
  }
  #con1{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #con2{
    grid-row: 1/2;
    grid-column: 2/3;
  }
  #con3{
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #con4{
    grid-row: 2/4;
    grid-column: 2/3;
  }
  #con5{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .para, .content2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .article{
    width: 100%;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .img img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
  }
  .club-lead{
    width: 35% !important;
  }
  .aboutt{
    flex-direction: column;
  }
  .aboutme{
    width: 80vw !important;
  }
  .person{
    height: 25vw !important;
    width: 25vw !important;
    border-bottom-left-radius: 25vw 25vw !important;
    border-bottom-right-radius: 25vw 25vw !important;
    height: 25vw !important;
  }
  .circle{
    height: 25vw !important;
    width: 25vw !important;
    border-radius: 50% !important;
  }
  .person img{
    width: 25vw !important;
    border-radius: 25vw !important;
  }
  .about-image{
    margin-top: 10vh;
  }
}