@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  /* background-color: whitesmoke; */
  font-family: Inter;
  margin: 0px;
  padding: 0px;
}
.con {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  /* background-color: #2196F3; */
  margin: auto;
  border-radius: 20px;
}

.con > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 1vh;
  margin-left: 1.2vh;
  margin-right: 1.2vh;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 1vh 0;
  margin: 1vh; */
  /* font-size: 30px; */
}

#con1 {
  grid-row: 1/2;
}

#con2 {
  grid-row: 1/2;
  grid-column: 2/4;
}
#con3 {
  grid-row: 1/3;
  grid-column: 4/5;
}
#con4 {
  grid-row: 2/3;
  grid-column: 1/3;
}
#con5 {
  grid-column: 3/4;
  grid-row: 2/3;
}

#con6{
  grid-column: 1/2;
  grid-row: 1/3;
}
#con7{
  grid-column: 2/4;
  grid-row: 1/2;
}
#con8{
  grid-column: 4/5;
  grid-row: 1/2;
}

#con9{
  grid-column: 2/3;
  grid-row: 2/3;
}
#con10{
  grid-column: 3/5;
  grid-row: 2/3;
}
#con11{
  grid-row: 1/2;
  grid-column: 1/2;
}
#con12{
  grid-column: 2/4;
  grid-row: 1/2;
}
#con13{
  grid-column: 4/5;
  grid-row: 1/3;
}
#con14{
  grid-column: 1/2;
  grid-row: 2/3;
}
#col15{
  grid-column: 2/3;
  grid-row: 2/3;
}

#col16{
  grid-column: 3/4;
  grid-row: 2/3;
}


.content {
  /* width: auto; */
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.content h3 {
  margin: 1vh;
  margin-left: 0vh;
  font-weight: lighter;
  width: 70%;
  font-size: large;
}

.content h1 {
  margin: 1vh;
  /* font-weight:900; */
  margin-left: 0px;
  border-bottom: 2px solid coral;
  width: 60vw;
}

.img img {
  /* float: right; */
  margin-top: 5vh;
  width: 15vw;
  border-radius: 10px;
}

.para {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.image:hover {
  transform: scale(1.02);
  transition: all 0.3s;
  box-shadow: 0px 0px 7px 2px rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: coral;
  border-radius: 10px;
}

/* Inspired by: https://css-tricks.com/lets-create-an-image-pop-out-effect-with-svg-clip-path/
Note: No techniques from the above article were used. I just thought of a different way to achieve the same idea.

background pattern modified by one presented at: https://projects.verou.me/css3patterns/
*/
div.popout {
  position: relative;
  float: left;
  width: 20vw;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.popout:hover .circle,
div.popout:hover .person {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.popout:hover .person > img {
  -webkit-transform: translate(-50%, -0.55vh);
  transform: translate(-50%, -0.55vh);
}

div.popout:hover .person > .desc {
  bottom: -8vw;
  background-color: rgba(0, 0, 0, 0.375);
}

div.popout .circle,
div.popout .person,
div.popout .person > img {
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s;
}

div.popout .person > .desc {
  -webkit-transition: bottom ease 0.2s, background-color ease-in-out 0.5s;
  transition: bottom ease 0.2s, background-color ease-in-out 0.5s;
}

div.popout .circle,
div.popout .person {
  position: absolute;
  overflow: hidden;
  bottom: 15%;
  width: 12vw;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

div.popout .circle {
  height: 12vw;
  border-radius: 6vw;
  -webkit-box-shadow: 0px 0px 0px 8px #6dabe4,
    0px 10px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 8px #6dabe4,
    0px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

div.popout .person {
  border-bottom-left-radius: 6vw 6vw;
  border-bottom-right-radius: 6vw 6vw;
  height: 16vw;
}

div.popout .person > img {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  width: 18vw;
  height: auto;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0.75vw);
  transform: translate(-50%, 0.75vw);
}

div.popout .person .desc {
  position: absolute;
  height: 3vw;
  bottom: -14vw;
  width: 100%;
  height: 12vw;
  text-align: center;
  padding: 1em;
  background-color: transparent;
  background-color: #6dabe4;
  font-size: 0.75vw;
  font-family: arial, sans-serif;
  color: ivory;
}

div.popout .person .desc:first-line {
  font-weight: bold;
  text-transform: uppercase;
}

.aboutt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutme {
  position: relative;
  width: 33%;
}

.carousel-control-prev-icon2{
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='coral'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon2{
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='coral'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}
.titles h1{
  display: flex;
  background-image: linear-gradient(0deg, #f73d30, #bb0f03);
  /* transition: background-image 3s; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  /* color: coral; */
  text-decoration: none;
  cursor: pointer;
  font-weight: inherit;
}

.titles h1{
  background-image: linear-gradient(0deg, #f73d30, #092c8d);
/* transition: background-image 3s; */

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
background-clip: text;
-moz-text-fill-color: transparent;
/* animation: grad 3s infinite ease; */
}


@keyframes grad{
  0%{
  background-image: linear-gradient(0deg, #f73d30, #092c8d);
  }
  10%{
  background-image: linear-gradient(0deg, #ef2e21, #072a8a);
  }
  20%{
  background-image: linear-gradient(0deg, #fa2213, #03237d);
  }
  30%{
  background-image: linear-gradient(0deg, #fd1100, #002078);
  }
  40%{
  background-image: linear-gradient(0deg, #e02013, #021b5f);
  }
  50%{
  background-image: linear-gradient(0deg, #bd190d, #082063);
  }
  60%{
  background-image: linear-gradient(0deg, #b52318, #071e5c);
  }
  70%{
  background-image: linear-gradient(0deg, #ab160b, #092c8d);
  }
  80%{
  background-image: linear-gradient(0deg, #f73d30, #031b5d);
  }
  90%{
  background-image: linear-gradient(0deg, #930e05, #091945);
  }
  100%{
  background-image: linear-gradient(0deg, #f73d30, #092c8d);
  }
}